<ion-content #container id="my-node" style="background-image: none">
  <ion-row *ngIf="canRender === true">
    <ion-col>
      <cl-image [public-id]="background">
        <cl-transformation  [attr.overlay]="overlay">
        </cl-transformation>
      </cl-image>
    </ion-col>
  </ion-row>
  <div style="position:relative;    bottom: 600px;">
    <div style="position:absolute">
      <img src="assets/img/base.png" width="100%" height="600px">
    </div>
    <div style="padding-top:150px">
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">
            <ion-text color="light">CHAMPION COACH</ion-text>
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">
            <ion-text color="danger">{{fullname}}</ion-text>
          </h1>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button color="danger" size="large" (click)="goHome()" expand="full" *ngIf="canGoHome === true">START OVER
    <ion-icon slot="start" size="large" name="chevron-back-outline" color="light"></ion-icon>
  </ion-button>
</ion-footer>

