/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'carlingMedium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/carlingMed.ttf');
}

@font-face {
  font-family: 'carlingBold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/carlingBold.ttf');
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px !important;
  line-height: .8 !important;
  margin-bottom: 0 !important
}

ion-content {
  --ion-background-color: transparent !important;
  background-image: url("../src/assets/img/bg.jpg") !important;
  --ion-background-image: url("../src/assets/img/bg.jpg") !important;
  background-size: cover;
  background-position: center;
  --ion-background-size: cover;
  --ion-background-position: center;
}

.bd-medium {
  background-color: rgba(0, 0, 0, .7) !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.mt-200 {
  margin-top: 200px !important;
}

.checkbox-icon {
  border-color: white !important;
}

ion-checkbox::part(container) {
  border-color: white !important;
  background: white !important;
}

.register ion-item {
  margin-bottom: 5px;
}

.w-100 {
  width: 100% !important;
}

ion-slides {

}

.slide ion-button {
  bottom: 30px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-80 {
  padding-top: 80px;
}
