/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import '~swiper/swiper-bundle';
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'carlingMedium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/carlingMed.ttf');
}

@font-face {
  font-family: 'carlingBold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/carlingBold.ttf');
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px !important;
  line-height: .8 !important;
  margin-bottom: 0 !important
}
body{
  font-size:3rem !important
}
ion-content {
  --ion-background-color: transparent !important;
  background-image: url("../src/assets/img/bg.jpg") !important;
  --ion-background-image: url("../src/assets/img/bg.jpg") !important;
  background-size: cover;
  background-position: center;
  --ion-background-size: cover;
  --ion-background-position: center;
}
ion-icon{
  width: 100px !important;
  height: 100px !important;
}
ion-button,button{
  height: 120px !important;
  font-size: 3rem !important;
}
ion-label{
  font-size:3rem !important
}
.alert-radio-group{
  max-height:70% !important
}
.alert-head,.alert-message{
  min-height: 50px;
}
.slide{
  width: 100% !important;
}
.swiper-slide img{
  width: 80% !important;
}
.bd-medium {
  background-color: rgba(0, 0, 0, .7) !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.mt-200 {
  margin-top: 200px !important;
}

.checkbox-icon {
  border-color: white !important;
}

ion-checkbox::part(container) {
  border-color: white !important;
  background: white !important;
}

.register ion-item {
  margin-bottom: 20px;
}

[aria-checked=true].alert-radio-icon .alert-radio-inner {
  left: -10px !important;
  top: 0 !important;
  width: 24px !important;
  height: 20px !important;
  border-width: 5px !important;
}

.w-100 {
  width: 100% !important;
}

ion-slides {

}
ion-footer{
  position: absolute !important;
  bottom:0 !important
}
.slide ion-button {
  bottom: 30px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-80 {
  padding-top: 80px;
}
input, ion-select,.alert-radio-label,.loading-content{
  font-size: 3rem !important;
}


.select-alert{
  --min-width: 600px !important;
  --max-height: 90%;
  font-size:3rem !important;
}

ion-checkbox{
  --size:3rem !important
}

.loading-wrapper ,.ion-overlay-wrapper{
  min-width: 600px !important
}
