
h1{
  font-size:10rem;
  line-height: 200px !important;
  margin-bottom: 150px !important;
}
h2{
  font-size:8rem;
  line-height: 150px !important;
  margin-top: 150px !important;
}

h3{
  line-height: 100px !important;
  font-size:6rem;
}
